body {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  color: #292929;
}

/* ** Preloader 
********************/

.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

.lds-ripple .lds-pos {
  position: absolute;
  border: 2px solid #efa8e4;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}

.lds-ripple .lds-pos:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/* Navbar */
nav {
  font-family: Roboto;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 999;
}

nav.nav-center ul {
  text-align: center;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}

nav.nav-center ul li.active {
  background-color: transparent !important;
}

nav.nav-center ul li.active a {
  color: #efa8e4;
}

nav.nav-center ul li a:hover {
  background-color: transparent !important;
  color: #efa8e4;
}

nav.nav-center ul li a:hover:after {
  font-weight: 500 !important;
  content: "";
  display: block;
  border-bottom: 3px solid #f8e1f4;
  padding-bottom: 1px;
  margin: auto;
  margin-bottom: -8px;
  width: 100%;
}

nav.nav-center ul li a {
  display: inline-block;
  font-size: 1.3rem;
  color: #292929;
}

/* Me */
.me {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../img/manuel.webp");
  background-size: cover;
  height: 35rem;
  z-index: 1;
}

.papan {
  height: 400px;
}

.patra-img {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.patra {
  margin-top: 7rem !important;
  margin-bottom: 5rem;
}

.patra h2,
.patra h4 {
  text-shadow: 5px 5px 10px #ebd4cc;
}

/* Skill */
.skill {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.skill i {
  color: #efa8e4;
}

.skill-desc h5 {
  color: #efa8e4;
}

.card-panel {
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 13px 13px 34px #d6d6d6, -13px -13px 34px #ffffff;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}

.progress .determinate {
  background-color: #efa8e4;
}

/* achievement */
.achievement {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8e1f4;
}

.achievement img {
  max-width: 340px;
  max-height: 240px;
  z-index: 1;
}

.achievement .card-image {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.mikrotik {
  margin-left: 5rem;
}

/* Experience */
.experience {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.experience a {
  color: #efa8e4;
}

.experience img {
  max-width: 25rem;
  max-height: 25rem;
}

.col-work {
  border-right: 1px solid #efa8e4;
}

/* Page Footer */
.page-footer {
  background-color: #f8e1f4;
  color: #292929;
}

.page-footer h5 {
  color: #292929;
}

.page-footer .footer-copyright {
  color: #292929;
}

.page-footer a {
  color: #acacac;
}

/* Return Top */
.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 3rem;
  background: #ffd3f8;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99999;
}

.return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0.7rem;
  top: 0.5rem;
  font-size: 2rem !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #efa8e4;
}

.return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Animated */
.fadeInRight,
.fadeInLeft,
.zoomIn {
  animation-duration: 1.5s !important;
}

@media screen and (max-width: 1024px) {
  .achievement img {
    max-width: 300px;
    max-height: 240px;
    z-index: 1;
  }
}

@media screen and (max-width: 520px) {
  .patra h2,
  .patra h4 {
    text-align: center;
  }

  .patra-img {
    margin-top: 0 !important;
  }

  .patra {
    margin-top: 0 !important;
  }

  .patra h2,
  .patra h4 {
    color: white;
  }

  .achievement img {
    max-width: 260px;
    max-height: 240px;
    z-index: 1;
  }

  .mikrotik {
    margin-left: 0 !important;
  }

  .col-work {
    border-right: none !important;
    border-bottom: 1px solid #efa8e4;
  }
}
